* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
}


#window {
    margin: 0px;
    border: 2px solid #88C0D0;
    background-color: #282a36;
    border-radius: 12px;
}

#input {
    margin: 5px;
    border: none;
    color: #D8DEE9;
    background-color: #3B4252;
    padding: 10px;
    border-radius: 8px;
}

#input image {
	color: #c0caf5;
}

#inner-box {
    margin: 5px;
    background-color: #2E3440;
}

#outer-box {
    margin: 5px;
    background-color: #2E3440;
}

#scroll {
    margin: 0px;
}

#text {
    margin: 5px;
    border: none;
    color: #c0caf5;
}

#entry:selected {
	background-color: #414868;
	font-weight: normal;
}

#text:selected {
	background-color: #414868;
	font-weight: normal;
}
